.primaryNavBar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: darkblue;
}

.primaryNavBarLinks {
  display: flex;
  align-items: center;
  gap: 24px;
}

.dropdownContent {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  top: 100%;

  background: white;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease;

  z-index: 999; /* important */

  padding: 30px 8px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-top: 1px solid #e2e0e0;
}

.dropdownContentLinks {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdown:hover .dropdownContent {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown:hover .dropdownTrigger {
  padding-bottom: 34px;
  border-bottom: 2px solid black;
}

.navPrimaryUserMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  padding: 28px 16px;
  gap: 28px 0;
}

.sideMenuContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sideMenuContent a {
  font-size: 18px;
}

.sideSubMenuContent {
  display: flex;
  flex-direction: column;
}

.sideSubMenuContent button {
  background-color: transparent;
  border: none;
  padding: 24px 16px;
  margin: 0;

  display: flex;
  align-items: center;
  gap: 0 16px;
  font-size: 18px;
}

.sideSubMenuContent h2 {
  border-top: 1px solid rgb(222, 221, 221);
  padding: 28px 16px 14px;
}

.sideSubMenuContent a {
  padding: 14px 16px;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .primaryNavBar {
    padding: 20px 10px;
  }

  .primaryNavBarLinks {
    display: none;
  }

  .logo {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .primaryNavBarMenuIcon {
    display: none;
  }
}
