.navSecondary {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.navSecondaryContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.navSecondaryContactsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.navSecondaryContactsItemText {
  font-size: small;
}
